body{
    width:100%;
    height:100%;
}
#headerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:35%;
}
@font-face {
    font-family: comicFont;
    src: url(HOMOARAK.TTF);
}
.comicFont{
    font-family:comicFont;
}
body{
    background-color: rgba(180,180,180); 
}
.stock{
    width:10%;
}
.searchImage{
    width:100%;
}

